@font-face {
  font-family: 'InterVariable';
  src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: oblique 0deg 10deg; 
  font-display: swap; 
}

.App {
  text-align: center;
  font-family: 'InterVariable', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  padding: 2% 10%;
}
.header {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.headerNavigationMenu{
  font-size: 20px;
  color: rgb(156, 154, 154);
}
.headerNavigationMenu :hover{
  color: rgb(227, 100, 100);
  cursor: pointer;
}

h1 {
  font-family: 'InterVariable', sans-serif;
  font-weight: 900;
}

button {
  color: white;
  border: none;
  font-size: 20px;
  height: 45px;
  width: 250px;
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(227, 100, 100);
}

button:hover {
  background-color: rgb(14, 7, 49);
}



.headerNavigationMenu {
  display: flex;
  
  list-style-type: none; 

}

.mainContent {
  width: 70%;
}

.headerNavigationMenu li {
  margin-right: 20px; 
}
.headerNavigationMenu li:last-child {
  margin-right: 0;
}

.headerNavigation {
  display: flex;
}

.contentBlock {
  height: 100%;
  width: 100%;
  display: flex;
}

.contentDescription {
  width: 100%;
  padding-left: 20px;
  color: rgb(132, 131, 131);
  font-size: 19px;
}

.mainContentDescription {
  width: 80%;
  font-size: 25px;
  display: flex;
}

.newsBlock {
  color: white;
  height: 100%;
  width: 30%;
  padding: 20px 20px;
  margin-left: 30px;
  background-color: rgb(14, 7, 49);
}

.newsList {
  display: flex;
  padding: 20px;
  flex-direction: column;
  padding-left: 0px;
  list-style-type: none; 
}
.newsBlock h2{
  font-size: 34px;
  margin: 0;
  color: rgb(226, 181, 67);
}
.newsBlock h3 {
  font-weight: 700;
}
.newsBlock h3:hover{
  cursor: pointer;
  color: rgb(226, 181, 67);
}
.newsList p{
  font-size: 20px;
  font-weight: lighter;
}


.footerList {
  margin-top: 50px;
  gap: 20px;
  padding: 0;
  display: flex;
  list-style-type: none; 
}

.footerList li {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.footerList h2 {
  font-size: 34px;
  margin: 0;
  color: rgb(178, 177, 177);
}
.footerList h3 {
  margin: 0;
  padding: 0;
}
.footerList h3:hover {
  color: rgb(227, 100, 100);
  cursor: pointer;
}

.footerDescription {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageContainer {
  width: 100%;
  height: 300px;
  max-height: 100%;
}

.footerImageContainer {
  width: 100%;
  height: 200px;
  max-height: 100%;
}

.footerList img {
  max-height: 100%;
  height: 100%;
  object-fit: cover;
  /* display: block; */
}

.header img {
  height: 50px;
}


